.blurLayout{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0px;
    left: 0px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(5px);
    min-height: 100vh;
}

.blurLayout p{
    font-size: 18px;
    font-weight: 500;
}