body {
  width: 100%;
  height: 100%;
  background: #e3e6e6 !important;
}
a {
  text-decoration: none !important;
}
.product-name {
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.navborder {
  border: 1px solid transparent;
}
.navborder:hover {
  border: 1px solid #fff;
}

.search-hover {
  background: #febd69;
}

.search-hover:hover {
  background: #f3a847;
  transition: 0.3s ease-in-out;
}

.bg-gray {
  background: #e6e6e6;
}

.bg-gray:hover {
  background: #d4d4d4;
  transition: 0.3s ease-in-out;
}

.slick-slide {
  padding: 0 10px;
}
.slick-list {
  padding: 0 -10px;
}

.sidebar-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #131921;
  opacity: 0.9;
  z-index: 50;
}

.close-button {
  position: absolute;
  top: 0;
  left: 360px;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-group2 {
  width: 250px;
}
.checkbox-group2 label {
  cursor: pointer;
  display: inline-block;
  color: #000;
  font-size: 12px;
  padding: 10px 0px;
}
.checkbox-group2 label:before {
  content: '';
  background: #f5f5f5;
  border-radius: 100%;
  border: 1px solid #b5b5b5;
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  position: relative;
  top: 0.1em;
  margin-right: 0.4rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.checkbox-group2 .rounded-checkbox2:checked + label {
  position: relative;
}
.checkbox-group2 .rounded-checkbox2:checked + label:before {
  background-color: #f08804;
  -webkit-box-shadow: inset 0 0 0 3px #f5f5f5;
  box-shadow: inset 0 0 0 3px #f5f5f5;
}
.checkbox-group2 .rounded-checkbox2 {
  position: fixed;
  left: -9999px;
}
.checkbox-group2:hover label {
  color: #f08804;
  text-decoration: underline;
}

.signUp ul li {
  padding: 0px;
}

.signUp ul li:hover {
  color: #f08804;
  text-decoration: underline;
  cursor: pointer;
}

.input_border {
  border: none !important;
  outline: none !important;
}

.vertical_center {
  position: absolute;
  top: 30%;
}

.bg_text {
  padding:0px 300px;
}

@media (max-width: 1199px) {
  .padding-lg {
    padding: 5px 5px !important;
  }
  .logo_img {
    margin-left: 0px;
  }
  .location {
    margin-left: 0px;
  }
  .sign_box {
    position: absolute;
    left: -290px !important;
  }
}
@media (max-width: 1024px) {
  .hidden {
    display: none !important;
  }
  .md-px {
    padding: 0px 5px !important;
  }
  .md-gap {
    gap: 0 !important;
  }
  .lang,
  .orders {
    display: none !important;
  }
  .bt-ul {
    font-size: 14px !important;
  }
  .sign_box {
    position: absolute;
    left: -350px !important;
  }
}
@media (max-width: 991px) {
  .bt-ul li:nth-child(3n + 0) {
    display: none !important;
  }
  .logo_img {
    margin-left: -15px !important;
  }
  .location {
    margin-left: 0px;
  }
  .search_bar {
    padding: 0px 8px !important;
  }
}
@media (max-width: 804px) {
  .bt-ul li {
    display: none;
  }
  .navborder {
    border: none !important;
  }
  .navborder:hover {
    border: none !important;
  }
  .location {
    position: absolute;
    top: 64px;
    left: 100px;
    display: block !important;
    height: none !important;
  }
  .update_location {
    position: absolute;
    top: 6px;
    left: 225px;
    width: 100%;
    font-weight: 100;
    font-size: 12px;
    color: #ccc !important;
  }
  .delivery_info {
    margin-top: 30px;
    margin-left: 25px;
  }
  .location_icon {
    position: absolute;
    top: -20px;
  }
  .search_bar {
    margin-left: 0px;
  }
}
@media (max-width: 610px) {
  .sm-hidden {
    display: none;
  }
  .logo_img {
    margin-left: 35px !important;
    margin-top: -28px !important;
  }
  .md-display {
    display: block !important;
  }
  .search_bar {
    margin-left: 0px;
    margin-top: -30px;
  }
  .update_location {
    position: absolute;
    top: 130px;
  }
  .delivery_info {
    position: relative;
    top: 125px;
  }
  .location_icon {
    position: absolute;
    top: 105px;
  }
  .cart {
    width: none !important;
    position: relative;
    right: -270px;
    top: -136px;
  }
  .bt-ul {
    position: absolute;
    top: 1px;
  }
  .md-bg {
    width: 100%;
    height: 100px !important;
  }
  .account {
    position: absolute;
    top: -90px;
    right: -400px;
  }
  .location {
    position: absolute;
    top: -23px;
    left: 0px !important;
    height: 0px !important;
  }
}
@media (max-width: 599px) {
  .account {
    position: absolute;
    top: -90px;
    right: -350px;
  }
  .cart {
    width: 50px;
    position: absolute;
    right: -523px;
    top: -130px;
  }
  .sign_box {
    position: absolute;
    left: -110px !important;
    width: 300px !important;
  }
  .location {
    height: 0px !important;
  }
}
@media (max-width: 580px) {
  .account {
    position: absolute;
    right: -350px;
  }
  .cart {
    position: absolute;
    right: -510px;
  }
}
@media (max-width: 499px) {
  .account {
    position: absolute;
    top: -90px;
    right: -200px;
  }
  .cart {
    position: absolute;
    right: -357px;
  }
}

@media (max-width: 390px) {
  .account {
    position: absolute;
    top: -90px;
    right: -150px;
  }
  .cart {
    position: absolute;
    right: -310px;
  }
  .sidemenu_width {
    width: 270px !important;
  }
  .close-button {
    position: absolute;
    left: 280px 
  }
}

.optgroup{
  color: black;
}